.myBtn {
  padding: 5px 10px;
  color: rgb(169,169,169);
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
  transition-duration: 0.4s;
  font-size: 1.3rem;
  /* border: 2px solid coral; 
  border-radius: 5px; */
}

.myBtn:hover {
  
  transform: scale(1.1);
}
.myBtn:active {
    color: coral;
}
button:disabled,
button[disabled]{
    color: rgb(77, 77, 77);
}
button[disabled]:active{
    transform: scale(1);
  }

  button[disabled]:hover{
    color: rgb(77, 77, 77);
    transform: scale(1);
  }

@media (max-width: 1024px) {
  .myBtn {
    margin: 0;
  }
}
