.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    color: rgb(169,169,169);
    font-weight: 300;
    height: 60px;
    
  }

  .input{
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.3rem;
  }
 