.App {
  background-color: rgb(245,245,245);
  height: 100vh;
  width: 100vw;
}

.todo-title{
  background-color: rgb(255,255,255);
  
  height: 60px;
  border: 2px solid rgb(235,235,235);
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 2px 2px rgb(235,235,235);
}


section {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

h1{
  color: rgb(233,217,216);
  font-size: 7rem;
  text-align: center;
  font-weight: 100;
}
h2{
  color: rgb(230,230,230);
  font-size: 2rem;
  font-weight: 300;
  font-style: italic
}


